.custom-select__item_style_checkbox {
  background: url(../../../../images/checkbox.svg) no-repeat 12px center;
  padding-left: 40px;
}

.custom-select__item_style_checkbox:hover {
  background: url(../../../../images/checkbox-hover.svg) no-repeat 12px center #f5f6f8;
}

@media screen and (max-width: 900px) {
  .custom-select__item_style_checkbox {
    background: none;
    border: solid 1px #C7D0DA;
    border-radius: 20px;
    color: #58646A;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding: 8px 12px;
    width: fit-content;
  }

  .custom-select__item_style_checkbox:hover {
    background: none;
  }
}