.sidebar-nav__link {
  align-items: center;
  color: #58646A;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}

.sidebar-nav__link:hover {
  opacity: .5;
}