.custom-select__item_selected-checkbox {
  background-image: url(../../../../images/checkbox-checked.svg);
}

.custom-select__item_selected-checkbox:hover {
  background-image: url(../../../../images/checkbox-checked-hover.svg);
}

@media screen and (max-width: 900px) {
  .custom-select__item_selected-checkbox {
    background: none;
    border: solid 1px #E65609;
    color: #E65609;
  }

  .custom-select__item_selected-checkbox:hover {
    background: none;
  }
}