.registration-block__link-create {
  color: #7DCDD7;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}

.registration-block__link-create:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.registration-block:hover .registration-block__link-create {
  color: #374146;
}


@media screen and (max-width: 900px) {
  .registration-block__link-create {
  }
}