.textarea__field {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  background: #F1F5F9;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: #374045;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  min-height: 88px;
  outline: none;
  padding: 23px 48px 25px 16px;
  resize: none;
  width: 100%;

}

.textarea__field:placeholder-shown {
  color: #7B878F;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 12px;
}

.textarea__field:hover {
  background: #E0E9F2;
}

.textarea__field:focus {
  background: #fff;
  border: 1px solid #A0ABB5;
}

.textarea__field:disabled {
  opacity: .6;
}