.sidebar-nav__step_type_done{
    content: url('../../../../images/sidebar__status-step_done.svg');
    object-fit: scale-down;
    background-color: #7DCDD7;
}
@media screen and (max-width: 900px) {
    .sidebar-nav__step_type_done {
        content: "";
    }
}