.sidebar-nav__step_type_reg {
  background-image: url(../../../../images/reg-icon.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 900px) {
  .sidebar-nav__step_type_reg {
    background-image: none;
    width: 50%;
  }
}