.avatar__input + .avatar__label {
  align-items: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  color: #048AA7;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  justify-content: center;
  line-height: 22px;
  position: absolute;
  text-align: center;
  text-decoration-line: underline;
  text-underline-offset: 0;
  text-underline-position: under;
  width: 100%;
}

.avatar__input + .avatar__label:hover {
  text-decoration: none;
}