.hint__tooltip {
  background: #FFFFFF;
  border-radius: 8px;
  bottom: 30px;
  box-shadow: 0 4px 24px rgba(0, 77, 95, 0.24);
  box-sizing: border-box;
  color: #58646A;
  display: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  height: min-content;
  line-height: 20px;
  margin: 0;
  max-width: 352px;
  min-width: 352px;
  padding: 12px 16px;
  position: absolute;
  right: -12px;
  text-align: left;
  width: 100%;
  z-index: 2;
}

.hint__tooltip::after {
  border: solid 8px transparent;
  border-top-color: #fff;
  bottom: -16px;
  content: '';
  display: block;
  position: absolute;
  right: 16px;
}

.hint:hover > .hint__tooltip {
  display: block;
}

@media screen and (max-width: 900px) {
  .hint__tooltip {
    min-width: 312px;
  }
}
