.radio-switcher {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .radio-switcher {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}