.custom-select__chips-delete-btn {
  background: url(../../../images/delete-chips-btn.svg) no-repeat center center;
  background-size: contain;
  height: 10px;
  width: 10px;
}

.custom-select__chips-delete-btn:hover {
  background: url(../../../images/delete-chips-btn.svg) no-repeat center center;
  background-size: contain;
  height: 10px;
  width: 10px;
}

.custom-select__chips-delete-btn:focus {
  background: url(../../../images/delete-chips-btn.svg) no-repeat center center;
  background-size: contain;
  height: 10px;
  width: 10px;
}