.uploader__files-list {
  border: solid 1px #E3E9F0;
  border-radius: 6px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.uploader__files-list:has(.uploader__item) {
  display: block;
}