.custom-select__item {
  color: #58646A;
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 16px;
  position: relative;
}

@media screen and (min-width: 900px) {
  .custom-select__item:hover {
    background-color: #F5F6F8;
  }
}

@media screen and (max-width: 900px) {
  .custom-select__item {
    border-bottom: solid .5px #A0ABB5;
    font-weight: 700;
    line-height: 16px;
    padding: 11px 8px;
  }
}