.uploader__file-preview-container_loading::after {
  animation: loading 1s linear infinite;
  background: url(../../../../images/icon-loading.svg) no-repeat center center;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}