.btn_style_secondary {
  border: 1px solid #A0ABB5;
  box-sizing: border-box;
  color: #374045;
  max-width: max-content;
  padding: 18px 30px;
  width: 100%;
}

.btn_style_secondary:hover {
  border-color: #E65609;
  color: #E65609;
  opacity: 1;
}

.btn_style_secondary:focus {
  border: 2px solid #7B878F;
  color: #374045;
  padding: 17px 29px;
}

.btn_style_secondary:active {
  border: solid 1px #CC4D00;
  color: #CC4D00;
  padding: 18px 30px;
}

.btn_style_secondary:disabled {
  opacity: .6;
}

@media screen and (max-width: 900px) {
  .btn_style_secondary {
    margin: 0 auto;
    max-width: 100%;
    order: 1;
    width: 100%;
  }
}