.hint {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../../images/info-btn.svg) no-repeat center;
  border: 0;
  cursor: help;
  height: 24px;
  position: relative;
  width: 24px;
}