.custom-select__field {
  background: url(../../../images/arrow.svg) no-repeat right 22px top 22px, #F1F5F9;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  color: #7B878F;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  margin: 0;
  min-height: 48px;
  padding: 12px 56px 12px 16px;
  position: relative;
  width: 100%;
}

