.input {
  box-sizing: border-box;
  height: 48px;
  position: relative;
  width: 100%;
}

.input-group .input {
  border-radius: 0;
}

.input-group .input:first-of-type {
  border-radius: 6px 0 0 6px;
}

.input-group .input:last-of-type {
  border-radius: 0 6px 6px 0;
}

@media screen and (max-width: 900px) {
  .input-group .input {
    border-radius: 0;
  }

  .input-group .input:first-of-type {
    border-radius: 6px 6px 0 0;
  }

  .input-group .input:last-of-type {
    border-radius: 0 0 6px 6px;
  }
}