.account-btn {
  align-items: center;
  background: #73B6C0;
  border-radius: 24px;
  display: flex;
  text-decoration: none;
  width: 218px;
}

.account-btn:hover {
  opacity: .7;
}

@media screen and (max-width: 900px) {
  .account-btn {
    height: 32px;
    justify-self: right;
    max-width: min-content;
  }
}