.registration-block_type_organization {
  align-items: flex-start;
  border-radius: 5px 0 0 5px;
  grid-column: 2;
  padding-left: 96px;
  text-align: left;
}

.registration-block_type_organization:after {
  background: url(../../../images/nko-start-image.svg) no-repeat bottom left;
  bottom: -64px;
  content: '';
  display: block;
  height: 415px;
  position: absolute;
  right: 0;
  width: 312px;
}

.registration-block_type_organization:hover:after {
  background: url(../../../images/nko-start-image-gray.svg) no-repeat bottom left;
}

@media screen and (max-width: 1400px) {
  .registration-block_type_organization {
    padding-left: 24px;
  }

  .registration-block_type_organization:after {
    background: url(../../../images/nko-start-image-small.svg) no-repeat bottom left;
    background-size: contain;
    bottom: -44px;
    content: '';
    display: block;
    height: 240px;
    position: absolute;
    right: 0;
    width: 173px;
  }

  .registration-block_type_organization:hover:after {
    background: url(../../../images/nko-start-image-small-gray.svg) no-repeat bottom left;
  }
}