.registration-block_type_volunteer {
  align-items: flex-end;
  border-radius: 0 5px 5px 0;
  grid-column: 1;
  padding-right: 96px;
  text-align: right;
}

.registration-block_type_volunteer:before {
  background: url(../../../images/volunteer-start-image.svg) no-repeat top right;
  content: '';
  display: block;
  height: 415px;
  left: 0;
  position: absolute;
  top: -64px;
  width: 336px;
}

.registration-block_type_volunteer:hover:before {
  background: url(../../../images/volunteer-start-image-gray.svg) no-repeat top right;
}

@media screen and (max-width: 1400px) {
  .registration-block_type_volunteer {
    padding-right: 24px;
  }

  .registration-block_type_volunteer:before {
    background: url(../../../images/volunteer-start-image.svg) no-repeat top right;
    background-size: cover;
    content: '';
    display: block;
    height: 240px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 157px;
  }

  .registration-block_type_volunteer:hover:before {
    background: url(../../../images/volunteer-start-image-gray.svg) no-repeat top right;
    background-size: cover;

  }
}