.registration-block {
  background-color: #374045;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 352px;
  padding-bottom: 64px;
  padding-top: 64px;
  position: relative;
}

.registration-block:hover {
  background-color: #EA5A0A;
}

@media screen and (max-width: 900px) {
  .registration-block {
    height: 288px;
    padding: 48px 24px;
  }
}