.sidebar__status {
  align-items: center;
  background-color: #3A464C;
  border: 2px solid transparent;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  justify-content: space-between;
  letter-spacing: 1px;
  padding: 0 0 0 12px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 160px;
}

.sidebar__status:after {
  background: url(../../../images/help-icon.svg) no-repeat center center;
  content: '';
  display: block;
  height: 12px;
  position: absolute;
  right: 10px;
  top: 4px;
  width: 12px;
}

.sidebar__status:hover {
  opacity: 0.8;
}

.sidebar__status:focus {
  border: 2px solid #E65609;
}

.sidebar__status:active {
  opacity: 1;
  border: 2px solid #3A464C;
}