.uploader__item {
  align-items: center;
  border-bottom: solid 1px #E3E9F0;
  column-gap: 12px;
  display: grid;
  grid-template-columns: 48px auto 24px;
  grid-template-rows: 1fr;
  padding: 12px;
}

.uploader__item:last-of-type {
  border-bottom: none;
}