.sidebar__status_state_process {
  background-color: #72D0DC;
  border: 2px solid transparent;
}

.sidebar__status_state_process:active {
  background-color: #048AA7;
  border: 2px solid #048AA7;
  opacity: 1;
}

.sidebar__status_state_process:focus {
  border: 2px solid #048AA7;
}