.avatar {
  display: grid;
  gap: 32px;
  grid-template-columns: max-content max-content;
  padding: 0 0 24px 0;
  position: relative;
}

@media screen and (max-width: 900px) {
  .avatar {
    gap: 16px;
  }
}