.btn {
  align-items: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 16px;
  margin: 0;
  outline: none;
  padding: 0;
  text-transform: uppercase;
}

.btn:hover {
  opacity: .7;
}