@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);



@import url(../blocks/main/main.css);

@import url(../blocks/main/_template/main_template_lk.css);
@import url(../blocks/main/_template/main_template_registration.css);
@import url(../blocks/main/_template/main_template_registration-fullscreen.css);
@import url(../blocks/main/_template/main_template_registration-form.css);
@import url(../blocks/main/_template/main_template_first-step.css);



@import url(./../blocks/breadcrumbs/breadcrumbs.css);

@import url(./../blocks/breadcrumbs/__list/breadcrumbs__list.css);

@import url(./../blocks/breadcrumbs/__item/breadcrumbs__item.css);

@import url(./../blocks/breadcrumbs/__link/breadcrumbs__link.css);



@import url(../blocks/sidebar/sidebar.css);

@import url(../blocks/sidebar/__title/sidebar__title.css);

@import url(../blocks/sidebar/__status/sidebar__status.css);
@import url(../blocks/sidebar/__status/_state/sidebar__status_state_confirm.css);
@import url(../blocks/sidebar/__status/_state/sidebar__status_state_process.css);

@import url(../blocks/sidebar/_type/sidebar_type_profile-progress.css);

@import url(../blocks/sidebar/__description/sidebar__description.css);

@import url(../blocks/sidebar/__link/sidebar__link.css);




@import url(../blocks/progress-bar/progress-bar.css);

@import url(../blocks/progress-bar/__bg/progress-bar__bg.css);

@import url(../blocks/progress-bar/__scale/progress-bar__scale.css);



@import url(../blocks/btn/btn.css);

@import url(../blocks/btn/_type/btn_type_refresh.css);
@import url(../blocks/btn/_type/btn_type_refresh-process.css);
@import url(../blocks/btn/_type/btn_type_close.css);



@import url(../blocks/sidebar-nav/sidebar-nav.css);

@import url(../blocks/sidebar-nav/__list/sidebar-nav__list.css);

@import url(../blocks/sidebar-nav/__item/sidebar-nav__item.css);
@import url(../blocks/sidebar-nav/__item/_type/sidebar-nav__item_type_current.css);
@import url(../blocks/sidebar-nav/__item/_type/sidebar-nav__item_type_mobile-hidden.css);

@import url(../blocks/sidebar-nav/__link/sidebar-nav__link.css);

@import url(../blocks/sidebar-nav/__step/sidebar-nav__step.css);
@import url(../blocks/sidebar-nav/__step/_type/sidebar-nav__step_type_reg.css);
@import url(../blocks/sidebar-nav/__step/_style/sidebar-nav__step_style_lk.css);
@import url(../blocks/sidebar-nav/__step/_type/sidebar-nav__step_type_current.css);


@import url(../blocks/sidebar-nav/__step-text/sidebar-nav__step-text.css);

@import url(../blocks/sidebar-nav/__item-text/sidebar-nav__item-text.css);

@import url(../blocks/sidebar-nav/__description/sidebar-nav__description.css);

@import url(../blocks/sidebar-nav/__description-title/sidebar-nav__description-title.css);

@import url(../blocks/sidebar-nav/__description-steps/sidebar-nav__description-steps.css);



@import url(../blocks/content/content.css);

@import url(../blocks/content/_template/content_template_grid-registration.css);



@import url(../blocks/popup/popup.css);

@import url(../blocks/popup/_type/popup_type_message.css);
@import url(../blocks/popup/_type/popup_type_window.css);

@import url(../blocks/popup/__container/popup__container.css);

@import url(../blocks/popup/__paragraph/popup__paragraph.css);

@import url(../blocks/popup/__title/popup__title.css);

@import url(../blocks/popup/__text/popup__text.css);

@import url(../blocks/popup/__cropper-container/popup__cropper-container.css);

@import url(../blocks/popup/__image/popup__image.css);

@import url(../blocks/popup/__btn-close/popup__btn-close.css);

@import url(../blocks/popup/_opened/popup_opened.css);



/* Заголовки */

@import url(../blocks/heading/heading.css);

@import url(../blocks/heading/_type/heading_type_title.css);
@import url(../blocks/heading/_type/heading_type_subtitle.css);
@import url(../blocks/heading/_type/heading_type_registrtion.css);
@import url(../blocks/heading/_type/heading_type_title-desktop.css);
@import url(../blocks/heading/_type/heading_type_title-mobile.css);



/* Кнопки */

@import url(../blocks/btn/btn.css);

@import url(../blocks/btn/_style/btn_style_primary.css);
@import url(../blocks/btn/_style/btn_style_secondary.css);
@import url(../blocks/btn/_style/btn_style_inactive.css);
@import url(../blocks/btn/_style/btn_style_telegram.css);

@import url(../blocks/btn/_type/btn_type_close.css);
@import url(../blocks/btn/_type/btn_type_refresh.css);
@import url(../blocks/btn/_type/btn_type_delete.css);
@import url(../blocks/btn/_type/btn_type_add.css);

@import url(../blocks/btn/_position/btn_position_right.css);



/* Пользовательское отображение select */

@import url(../blocks/custom-select/custom-select.css);

@import url(../blocks/custom-select/__wrap/custom-select__wrap.css);
@import url(../blocks/custom-select/__wrap/_style/custom-select__wrap_style_multiselect.css);

@import url(../blocks/custom-select/__list/custom-select__list.css);
@import url(../blocks/custom-select/__list/_type/custom-select__list_type_multiselect.css);

@import url(../blocks/custom-select/__list-container/custom-select__list-container.css);
@import url(../blocks/custom-select/__list-container/_opened/custom-select__list-container__opened.css);

@import url(../blocks/custom-select/__message/custom-select__message.css);

@import url(../blocks/custom-select/__heading/custom-select__heading.css);

@import url(../blocks/custom-select/__btn-close/custom-select__btn-close.css);

@import url(../blocks/custom-select/__item/custom-select__item.css);
@import url(../blocks/custom-select/__item/_style/custom-select__item_style_parent.css);
@import url(../blocks/custom-select/__item/_style/custom-select__item_style_parent-opened.css);
@import url(../blocks/custom-select/__item/_style/custom-select__item_style_checkbox.css);
@import url(../blocks/custom-select/__item/_selected/custom-select__item_selected.css);
@import url(../blocks/custom-select/__item/_selected-checkbox/custom-select__item_selected-checkbox.css);

@import url(../blocks/custom-select/__field/custom-select__field.css);
@import url(../blocks/custom-select/__field/_style/custom-select__field_style_multiselect.css);
@import url(../blocks/custom-select/__field/_disabled/custom-select__field_disabled.css);

@import url(../blocks/custom-select/__field-text/custom-select__field-text.css);

@import url(../blocks/custom-select/__input/custom-select__input.css);

@import url(../blocks/custom-select/__chips/custom-select__chips.css);

@import url(../blocks/custom-select/__chips-text/custom-select__chips-text.css);

@import url(../blocks/custom-select/__chips-delete-btn/custom-select__chips-delete-btn.css);

@import url(../blocks/custom-select/__link/custom-select__link.css);
@import url(../blocks/custom-select/__link/_type/custom-select__link_type_select-all.css);

@import url(../blocks/custom-select/__btn/custom-select__btn.css);
@import url(../blocks/custom-select/__btn/_type/custom-select__btn_type_reset.css);



/* Отображение форм */

@import url(../blocks/radio-switcher/radio-switcher.css);

@import url(../blocks/radio-switcher/__input/radio-switcher__input.css);

@import url(../blocks/radio-switcher/__label/radio-switcher__label.css);



/* Пиктограмма (кнопка) подсказки */

@import url(../blocks/hint/hint.css);

@import url(../blocks/hint/__tooltip/hint__tooltip.css);
@import url(../blocks/hint/__tooltip/_position/hint__tooltip_position_right-bottom.css);



/* fieldset */

@import url(../blocks/fieldset/fieldset.css);

@import url(../blocks/fieldset/__row-group/fieldset__row-group.css);
@import url(../blocks/fieldset/__row-group/_type/fieldset__row-group_type_block.css);

@import url(../blocks/fieldset/_style/fieldset_style_pb-small.css);
@import url(../blocks/fieldset/_style/fieldset_style_p-none.css);

@import url(../blocks/fieldset/_template/fieldset_template_grid-form.css);
@import url(../blocks/fieldset/_template/fieldset_template_grid-project-links.css);
@import url(../blocks/fieldset/_template/fieldset_template_grid-one-col.css);
@import url(../blocks/fieldset/_template/fieldset_template_grid-social-links.css);



/* textarea */

@import url(../blocks/textarea/textarea.css);

@import url(../blocks/textarea/_error/textarea_error.css);

@import url(../blocks/textarea/__error-message/textarea__error-message.css);
@import url(../blocks/textarea/__error-message/_visible/textarea__error-message_visible.css);

@import url(../blocks/textarea/__field/textarea__field.css);

@import url(../blocks/textarea/__label/textarea__label.css);

@import url(../blocks/textarea/__counter/textarea__counter.css);

@import url(../blocks/textarea/__btn/textarea__btn.css);
@import url(../blocks/textarea/__btn/_type/textarea__btn_type_clear-text.css);



/* input */
@import url(../blocks/input-group/input-group.css);



@import url(../blocks/input/input.css);

@import url(../blocks/input/__field/input__field.css);
@import url(../blocks/input/__field/_default/input__field_default.css);
@import url(../blocks/input/__field/_type/input__field_type_calendar.css);
@import url(../blocks/input/__field/_type/input__field_type_password.css);


@import url(../blocks/input/_error/input_error.css);
/*@import url(../blocks/input/_type/input_type_bottom-interval.css);*/

@import url(../blocks/input/__label/input__label.css);

@import url(../blocks/input/__btn/input__btn.css);

@import url(../blocks/input/__btn/_type/input__btn_type_clear-text.css);
@import url(../blocks/input/__btn/_type/input__btn_type_calendar.css);
@import url(../blocks/input/__btn/_type/input__btn_type_show-pwd.css);
@import url(../blocks/input/__btn/_type/input__btn_type_show-pwd-visible.css);
@import url(../blocks/input/__btn/_type/input__btn_type_hint.css);
@import url(../blocks/input/__btn/_position/input__btn_position_first.css);

@import url(../blocks/input/__error-message/input__error-message.css);
@import url(../blocks/input/__error-message/_visible/input__error-message_visible.css);



/* checkbox */

@import url(../blocks/checkbox/checkbox.css);
@import url(../blocks/checkbox/__input/checkbox__input.css);
@import url(../blocks/checkbox/__label/checkbox__label.css);
@import url(../blocks/checkbox/__label/_style/checkbox__label_style_notifications.css);



/*Отображение и изменение аватара*/

@import url(../blocks/avatar/avatar.css);

@import url(../blocks/avatar/__container/avatar__container.css);

@import url(../blocks/avatar/__input/avatar__input.css);

@import url(../blocks/avatar/__label/avatar__label.css);

@import url(../blocks/avatar/__img/avatar__img.css);

@import url(../blocks/avatar/__btn-delete/avatar__btn-delete.css);
@import url(../blocks/avatar/__btn-delete/_visible/avatar__btn-delete_visible.css);

@import url(../blocks/avatar/__max-volume/avatar__max-volume.css);

@import url(../blocks/avatar/__preview-container/avatar__preview-container.css);

@import url(../blocks/avatar/__preview-item/avatar__preview-item.css);

@import url(../blocks/avatar/__preview-image/avatar__preview-image.css);
@import url(../blocks/avatar/__preview-image/_size/avatar__preview-image_size_large.css);
@import url(../blocks/avatar/__preview-image/_size/avatar__preview-image_size_medium.css);
@import url(../blocks/avatar/__preview-image/_size/avatar__preview-image_size_small.css);



/* Примечания */

@import url(../blocks/note/note.css);



/* Элементы отображения стартовой страницы */

@import url(./../blocks/registration-block/registration-block.css);

@import url(../blocks/registration-block/__heading/registration-block__heading.css);

@import url(./../blocks/registration-block/__text/registration-block__text.css);

@import url(./../blocks/registration-block/__link/registration-block__link.css);

@import url(../blocks/registration-block/__link-create/registration-block__link-create.css);

@import url(../blocks/registration-block/_type/registration-block_type_volunteer.css);

@import url(../blocks/registration-block/_type/registration-block_type_organization.css);



/* Элементы оформления текста */

@import url(../blocks/paragraph/paragraph.css);

@import url(./../blocks/paragraph/_style/paragraph_style_login.css);
@import url(./../blocks/paragraph/_style/paragraph_style_first-step.css);
@import url(./../blocks/paragraph/_style/paragraph_style_desktop.css);
@import url(./../blocks/paragraph/_style/paragraph_style_mobile.css);

@import url(../blocks/list/list.css);
@import url(../blocks/list/__item/list__item.css);



/* Ссылки */

@import url(../blocks/link/link.css);
@import url(../blocks/link/_style/link_style_dark.css);



/* Элементы отображения страницы "Смена пароля */

/*@import url(../blocks/notifications-form/notifications-form.css);*/

/*@import url(../blocks/notifications-form/__item/notifications-form__item.css);*/

/*@import url(../blocks/notifications-form/__checkbox/notifications-form__checkbox.css);*/

/*@import url(../blocks/notifications-form/__label/notifications-form__label.css);*/

/*@import url(../blocks/notifications-form/__label-text/notifications-form__label-text.css);*/

/*@import url(../blocks/notifications-form/__legend/notifications-form__legend.css);*/

/*@import url(../blocks/notifications-form/__help-btn/notifications-form__help-btn.css);*/



/* Блок подписки на телеграм-бот */

@import url(../blocks/telegram/telegram.css);

@import url(../blocks/telegram/__text/telegram__text.css);



/* Загрузчик файлов */

@import url(../blocks/uploader/uploader.css);

@import url(../blocks/uploader/__label/uploader__label.css);

@import url(../blocks/uploader/__input/uploader__input.css);

@import url(../blocks/uploader/__files-list/uploader__files-list.css);

@import url(../blocks/uploader/__item/uploader__item.css);
@import url(../blocks/uploader/__item/_error/uploader__item_error.css);

@import url(../blocks/uploader/__file-preview-container/uploader__file-preview-container.css);
@import url(../blocks/uploader/__file-preview-container/_loading/uploader__file-preview-container_loading.css);

@import url(../blocks/uploader/__file-title/uploader__file-title.css);

@import url(../blocks/uploader/__error-message/uploader__error-message.css);

@import url(../blocks/uploader/__btn-delete/uploader__btn-delete.css);

@import url(../blocks/uploader/__input-container/uploader__input-container.css);

@import url(../blocks/uploader/__text/uploader__text.css);
@import url(../blocks/uploader/__text-accent/uploader__text-accent.css);

@import url(../blocks/uploader/__note/uploader__note.css);



/* CropperJS */
@import url(../vendor/cropperjs.css);
