.sidebar-nav__step {
  align-items: center;
  background-color: #F5F6F8;
  border-radius: 50%;
  display: flex;
  font-weight: 700;
  height: 32px;
  justify-content: center;
  width: 32px;
}

@media screen and (max-width: 900px) {
  .sidebar-nav__step {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}