.main {
  background-color: #fff;
  box-sizing: border-box;
  column-gap: 32px;
  display: grid;
  font-size: 16px;
  font-weight: 400;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: center;
  line-height: 24px;
  margin: 0 auto;
  min-width: 350px;
  padding: 0 120px 120px 24px;
  row-gap: 24px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .main {
    padding-right: 24px;
  }
}