.input__label {
  color: #7B878F;
  display: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  left: 0;
  line-height: 16px;
  padding: 7px 0 0 16px;
  position: absolute;
  right: 50px;
  text-overflow: ellipsis;
  top: 0;
  white-space: nowrap;
}

.input__field:not(:placeholder-shown) + .input__label {
  display: flex;
}