.registration-block__heading {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  margin: 0;
  padding: 0 0 28px 0;
}

@media screen and (max-width: 900px) {
  .registration-block__heading {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 28px;
    padding-bottom: 16px;
  }
}