.fieldset_template_grid-form {
  display: grid;
  gap: 20px;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 32px;
}

@media screen and (max-width: 900px) {
  .fieldset_template_grid-form {
    gap: 16px;
    grid-template-columns: 1fr;
  }
}