.custom-select__list {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 4px 24px rgba(0, 77, 95, 0.24);
  height: max-content;
  list-style-type: none;
  margin: 0;
  max-width: 358px;
  padding: 8px 0;
}

@media screen and (max-width: 900px) {
  .custom-select__list {
    background: none;
    border-radius: 0;
    box-shadow: none;
    color: #A0ABB5;
    font-family: HelveticaNeueCyr, Helvetica, Arial, sans-serif;
    max-width: 100%;
    padding: 48px 24px 16px 24px;
  }

  .custom-select__item .custom-select__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
  }
}