.header__menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .header__menu {
    gap: 16px;
  }
}

@media screen and (max-width: 900px) {
  .header__menu {
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
  }
}

