.telegram {
  align-items: flex-start;
  border: 1px solid #A0ABB5;
  border-radius: 8px;
  box-sizing: border-box;
  display: grid;
  gap: 20px;
  grid-template: 1fr / 1fr min-content;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .telegram {
    gap: 12px;
    grid-template: 1fr min-content / 1fr;
  }
}