.header__wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1120px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}