.main_template_first-step {
  background: url(../../../images/first-step-background.svg) no-repeat right top, #F1F7FF;
  grid-template-columns: minmax(min-content, 1024px);
  grid-template-rows: auto;
  padding-bottom: 312px;
  padding-top: 64px;
}

@media screen and (max-width: 900px) {
  .main_template_first-step {
    background: url(../../../images/first-step-background-reverse.svg) no-repeat bottom 10px center;
    grid-template-columns: 100%;
    padding-bottom: 236px;
    padding-top: 24px;
  }
}