.main_template_registration-form {
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: 256px auto;
  padding-top: 64px;
}

@media screen and (max-width: 900px) {
  .main_template_registration-form {
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 100%;
    padding-bottom: 80px;
    padding-top: 0;
    row-gap: 16px;
  }
}