.main_template_lk {
  grid-template-columns: 256px minmax(min-content, 736px);
  grid-template-rows: repeat(3, minmax(min-content, max-content)) 100%;
}

@media screen and (max-width: 900px) {
  .main_template_lk {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content)) auto;
    padding-bottom: 80px;
    row-gap: 32px;
  }
}