.textarea__label {
  color: #7B878F;
  display: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  left: 16px;
  line-height: 16px;
  position: absolute;
  top: 7px;
}

.textarea__field:not(:placeholder-shown) + .textarea__label {
  display: flex;
}