.uploader__label {
  border: 1px dashed #C7D0DA;
  border-radius: 6px;
  box-sizing: border-box;
  color: #7B878F;
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 12px 0;
  text-align: center;
  width: 100%;
}

.uploader__input:hover + .uploader__label {
  opacity: .7;
}

@media screen and (max-width: 900px) {
  .uploader__label {
    border: 1px solid #048AA7;
    color: #048AA7;
    text-decoration: underline;
  }
}