.registration-nko-final__link-donate {
  color: #048AA7;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-decoration-line: underline;
  text-underline-position: under;
  text-underline-offset: 0;
}

.registration-nko-final__link-donate:hover {
  text-decoration: none;
}

.registration-nko-final__link-donate:active {
  color: #374146;
}

.registration-nko-final__link-donate:visited {
  color: #7B878F;
}