.textarea__error-message {
  bottom: -24px;
  color: #D20202;
  display: none;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}