.sidebar-nav__step_style_reg {
  content: "";
  background: #72D0DC;
  background-image: url('../../../../images/donegalka.svg');
  background-position: center;
  background-repeat: no-repeat;
  color: transparent
}