.footer__menu {
  column-gap: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1120px;
  padding-top: 64px;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .footer__menu {
    gap: 16px;
  }
}

@media screen and (max-width: 900px) {
  .footer__menu {
    display: none;
  }
}