.header {
  background-color: #7DCDD7;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  min-height: 136px;
  min-width: 350px;
  padding: 0 24px;
  position: relative;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header {
    min-height: 56px;
  }
}


