.content {
  max-width: 736px;
}

.main_template_lk .content {
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

@media screen and (max-width: 900px) {
  .main_template_lk .content {
    grid-column: auto;
    grid-row: 2;
  }
}