.popup_type_message {
  max-width: 352px;
  right: 24px;
  top: 24px;
}

@media screen and (max-width: 450px) {
  .popup_type_message {
    max-width: 100%;
    margin-left: 24px;
    right: 24px;
  }
}