.sidebar-nav__description {
  display: none;
}

@media screen and (max-width: 900px) {
  .sidebar-nav__description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
    font-weight: 400;
    justify-content: space-between;
    line-height: 16px;
  }
}