.registration-block__text {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 24px;
  margin: 0;
  max-width: 368px;
  padding-bottom: 40px;
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .registration-block__text {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .registration-block__text {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    padding-bottom: 40px;
    width: 100%;
  }
}