.avatar__container {
  border: 1px dashed #A0ABB5;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
  min-height: 136px;
  min-width: 136px;
  overflow: hidden;
  position: relative;
}

.avatar__container:has(.avatar__img):hover::before {
  background: rgba(0, 0, 0, .2);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.avatar__container:has(.avatar__img):hover::after {
  background: url(../../../images/icon-edit-avatar.svg) no-repeat center center;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
}